<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head></head>

  <body>
    <div>
      <form th:action="@{/users}" method="get">
        <label for="name">ユーザー名</label>
        <input type="text" name="name" id="name" />
        <label for="size">1ページ辺り表示件数</label>
        <input type="number" name="size" id="size" />
        <label for="page">ページ番号(0始まり)</label>
        <input type="number" name="page" id="page" />
        <input type="submit" value="検索" />
      </form>
    </div>

    <div>
      <h1>ユーザ一覧</h1>
      <table border="1">
        <tr>
          <th>ユーザID</th>
          <th>ユーザ名</th>
        </tr>
        <tr th:each="user : ${users}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.name}"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
