<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      <div>
        <label for="file">アップロードするファイルを選択してください</label>
        <input type="file" id="file" name="file" multiple />
      </div>
      <div>
        <button>送信</button>
      </div>
    </form>

    <script src="./upload.js"></script>
  </body>
</html>
