<html xmlns:th="https://www.thymeleaf.org">
  <body>
    <div th:if="${message}">
      <h2 th:text="${message}" />
    </div>

    <div>
      <form id="form" method="POST" enctype="multipart/form-data" action="/">
        <table>
          <tr>
            <td>File to upload:</td>
            <td><input id="input" type="file" name="files" multiple /></td>
          </tr>
          <tr>
            <td></td>
            <td><input id="submit" type="submit" value="Upload" /></td>
          </tr>
        </table>
      </form>
    </div>

    <div>
      <ul>
        <li th:each="file : ${files}">
          <a th:href="${file}" th:text="${file}" />
        </li>
      </ul>
    </div>
    <script>
      const form = document.getElementById("form");
      form.addEventListener("submit", (ev) => {
        ev.preventDefault();
        const input = document.getElementById("input");

        const files = input.files;
        for (let i = 0; i < files.length; i++) {
          const file = files[i];
          const data = new FormData();
          data.set("files", file);

          const request = new XMLHttpRequest();
          request.upload.addEventListener("progress", (e) => {
            console.log(
              file.name + ": " + ((100 * e.loaded) / e.total).toFixed(2) + "%"
            );
          });
          request.open("POST", "http://localhost:8080/");
          request.send(data);
        }
      });
    </script>
  </body>
</html>
