<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <h3>ログインフォーム</h3>
    <p th:if="${param.error}">Error!</p>
    <form th:action="@{/login}" method="POST">
        <table>
            <tr>
                <td><label for="username">User:</label></td>
                <td><input type="text" id="username" name="username" value="aaaa" /></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="password" value="demo" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button type="submit">ログイン</button></td>
            </tr>
        </table>
    </form>
</body>
</html>