<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisassociation.repository.PersonRepositoryImpl$PersonMapper">
  <resultMap type="com.example.mybatisassociation.entity.Person" id="person">
    <result column="sex" property="sex" typeHandler="com.example.mybatisassociation.repository.SexTypeHandler" />
  </resultMap>
  <select id="findById" resultMap="person">
    select * from person where id = #{id}
  </select>
</mapper>